.form__submit-btn_inactive {
  color: #000000;
  background-color: #FFFFFF;
  opacity: .2;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
