.popup__close-btn {
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
  min-width: 32px;
  min-height: 32px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  background-image: url(../../../images/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 544px) {
  .popup__close-btn {
    min-width: 20px;
    min-height: 20px;
    right: 0;
  }
}
