.form__input {
  margin: 0;
  padding: 4px;
  padding-bottom: 9px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
  box-sizing: border-box;
}
